ul,li, img{
display:inline-block;
}

 .logoMenu{
  background-color: #2d3238;
  margin: 0px;
  padding: 0px;
}
.mainLogo{
  margin:0px;
  height:80px;
  width:80px;
}
.inclinado{
-webkit-transform:skewX(20deg);
background-color: #3d444c;
margin-left:1em;
margin-right:1em;
}
.inclinado > *,.rightHeader > *  {
  -webkit-transform: skew(-20deg);
}
li.inclinado > a:hover {
  color: #a8c916;
}
li.inclinado > a:before,.navbar-nav > li > .dropdown-menu>.dropdown-item>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0.5em;
  background-color: #a8c916;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
li.inclinado > a:hover:before,li.rightHeader>a:hover:before,.navbar-nav > li > .dropdown-menu>.dropdown-item>a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.rightHeader{
  transform: skew(20deg);
}
li.rightHeader > a:hover {
  color: #a8c916;
}
li.rightHeader > a:before {
  content: "";
  position: absolute;
  width: 85%;
  height: 2px;
  bottom: 0;
  left: 0.4em;
  background-color: #a8c916;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

hr{

    border:         none;
    border-left:    2px solid hsla(200, 10%, 50%,100);
    height:         1em;
    width:          1px;
    /*transform: skew(20deg);*/
}
.perfilImage{
  margin:0.2em;
  height:30px;
  width:30px;
  display: inline-block;
}
.dropdown{
  background-color: #5d7523;
}
.navbar-nav > li > .dropdown-menu {
  background-color: #2d3238;
  -webkit-transform: skew(0deg);

}
.navbar-nav > li > .dropdown-menu>.dropdown-item{

  -webkit-transform: skew(0deg);


}
.navbar-nav > li > .dropdown-menu>.dropdown-item:hover{

  background-color: #3d444c;
}
.navbar-nav > li > .dropdown-menu>.dropdown-item>a{

  background-color: inherit;
  margin:0px;
  -webkit-transform: skew(-20deg);
}
